{% extends 'common/layouts/base.html.twig' %}

{% block content %}
    <h1>Ошибка 404</h1>
    <p>Страница не найдена. Вернитесь на
        <a href="{{ path('site_home') }}">главную</a>.</p>
{% endblock %}
