<!DOCTYPE html>
<html data-theme="cupcake" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" sizes="32x32">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </body>

</html>
